@charset "UTF-8";
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 20px;
  line-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0;
    max-width: 345px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container h1 {
  padding: 9px 10px;
}

.header .container h1 img {
  display: block;
}

.header .container .pc-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 455px;
}

.header .container .pc-menu li {
  padding: 0;
  width: 150px;
  text-align: center;
}

.header .container .pc-menu i {
  padding-right: 3px;
}

.header .container .pc-menu a {
  color: #8D8D8D;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header .container .mobile-menu-list {
  display: none;
}

.header .container .mobile-menu {
  display: none;
}

.header .container .mobile-menu .menu-cart {
  position: relative;
  font-size: 24px;
  color: #8D8D8D;
  padding: 0px 15px;
}

.header .container .mobile-menu .menu-cart span {
  position: absolute;
  top: -10px;
  right: 3px;
  font-size: 10px;
  color: #FFF;
  background-color: #916000;
  border: 2px solid #916000;
  border-radius: 40px;
  padding: 1px 4px;
}

.header .container .mobile-menu .menu-list {
  padding: 12px 22px;
}

@media (max-width: 767px) {
  .header .container .pc-menu {
    display: none;
  }
  .header .container .mobile-menu {
    display: block;
    color: #8D8D8D;
  }
  .header .container .mobile-menu-list {
    /*隱藏選單*/
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    /*結束*/
    -webkit-transition: opacity 1.8s;
    transition: opacity 1.8s;
    margin-top: 2px;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  .header .container .mobile-menu-list li {
    background-color: #707070;
    border-top: 1px solid #FFF;
  }
  .header .container .mobile-menu-list li a {
    display: block;
    width: 100%;
    line-height: 56px;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .header .container .showdmenu {
    max-height: 280px;
    opacity: 1;
  }
  .header .container h1 {
    padding-left: 20px;
  }
}

.banner {
  background: url(../img/banner.jpg) no-repeat padding-box;
  background-size: cover;
  background-position: center;
}

.banner .container {
  color: #FFF;
  padding: 295px 0;
}

.banner .container .description {
  max-width: 455px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 60%;
}

.banner .container .description h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}

.banner .container .description p {
  font-size: 24px;
  line-height: 36px;
}

.banner .container .description a {
  border: 2px solid #FFF;
  border-radius: 30px;
  color: #FFF;
  font-size: 26px;
  width: 350px;
  display: block;
  text-align: center;
  padding: 16px 0;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .banner {
    height: 740px;
    background-size: auto;
    background-position: 15% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .container .description {
    padding: 101px 10px 135px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 480px;
    background-size: cover;
  }
}

.content .container {
  padding: 0 15px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.content .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content .container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.content .container li .text {
  width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.content .container li .text .contain {
  max-width: 370px;
  margin: 0 auto;
  padding: 0 10px;
}

.content .container li .text .long p {
  margin-bottom: 52px;
  font-family: PingFangTC-Regular, sans-serif;
}

.content .container li .text .long h2 {
  font-size: 24px;
  line-height: 36px;
}

.content .container li .text .long a {
  border: 2px solid #000;
  border-radius: 30px;
  color: #000;
  max-width: 350px;
  display: block;
  text-align: center;
  padding: 15.8px 0;
  margin-top: 16px;
  font-weight: 700;
  font-family: PingFangTC-Regular, sans-serif;
}

.content .container li .text h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.content .container li .text p {
  margin-bottom: 16px;
  font-family: PingFangTC-Regular, sans-serif;
}

.content .container li .text a {
  font-size: 16px;
  line-height: 24px;
  color: #AC8A46;
  font-family: PingFangTC-Regular, sans-serif;
}

.content .container li .content-pic {
  width: 50%;
  height: 555px;
  background-size: cover;
  background-position: center center;
}

.content .container li .pic1 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index2.jpg");
  background-position: 0 -20px;
}

.content .container li .pic2 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index3.png");
}

.content .container li .pic3 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index4.jpg");
  background-position: -70px 0;
}

.content .container li .pic4 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index5.jpg");
  height: 1080px;
}

@media (max-width: 767px) {
  .content .container {
    padding-bottom: 0;
  }
  .content .container .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .container li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .container li .content-pic {
    margin-bottom: 8px;
    width: 100%;
    height: 350px;
  }
  .content .container li .pic4 {
    height: 680px;
  }
  .content .container li .text {
    margin-bottom: 32px;
    width: 100%;
  }
}

.product {
  background: #E0E0E0;
  padding: 40px 0;
}

.product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product ul .med {
  margin: 0 30px;
}

.product ul li a {
  max-width: 350px;
  height: 540px;
  display: block;
  margin-bottom: 8px;
}

.product ul li a img {
  height: 540px;
}

.product ul li .sold {
  display: block;
  position: relative;
}

.product ul li .sold-out {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.product ul li .sold-out h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 36px;
  color: #FFF;
}

.product ul li h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 501;
}

.product ul li p, .product ul li h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.product ul li p span, .product ul li h5 span {
  color: #8D8D8D;
  text-decoration: line-through;
  margin-left: 8px;
}

.product ul li h5 {
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .product {
    padding-top: 32px;
    padding-bottom: 12px;
  }
  .product ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 345px;
    margin: 0 auto;
  }
  .product ul .med {
    margin: 0 auto;
  }
  .product ul li a {
    max-width: 100%;
    overflow: hidden;
    height: 350px;
  }
  .product ul li a .pro1 {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .product ul li a .pro2 {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .product ul li a .pro3 {
    -webkit-transform: translateY(-17%);
            transform: translateY(-17%);
  }
  .product ul li h5 {
    padding-bottom: 4px;
  }
  .product ul li p {
    padding-bottom: 24px;
  }
}

.feature .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.feature .container .ad {
  background: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index9.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
  width: 70%;
  max-width: 720px;
}

.feature .container .text {
  margin-left: 30px;
  width: 30%;
}

.feature .container .text h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.feature .container .text p {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
}

.feature .container .text a {
  color: #AC8A46;
}

@media (max-width: 768px) {
  .feature .container .ad {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .feature .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature .container .ad {
    width: 100%;
  }
  .feature .container .text {
    width: 100%;
    margin-left: 0;
  }
}

.footer-banner {
  background: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index10.jpg") no-repeat;
  background-size: 110%;
  background-position: center;
}

.footer-banner .container {
  padding-top: 312px;
  padding-bottom: 112px;
}

.footer-banner .container h2 {
  font-size: 32px;
  line-height: 48px;
  color: #8D8D8D;
  padding-bottom: 20px;
  font-weight: 501;
  font-family: PingFangTC-Regular, sans-serif;
}

.footer-banner .container .contact {
  font-size: 16px;
  line-height: 24px;
  max-width: 350px;
  position: relative;
}

.footer-banner .container .contact input {
  border: 2px solid #916000;
  padding: 21px 0 25px 16px;
  width: 100%;
}

.footer-banner .container .contact span {
  position: absolute;
  background: #916000;
  color: #FFF;
  padding: 21px 26px 20px;
  right: 0;
}

@media (max-width: 767px) {
  .footer-banner {
    background-size: cover;
    background-position: left;
  }
}

.footer {
  background-color: #916000;
  color: #FFF;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 22px;
}

.footer .container h2 span {
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
}

.footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container ul li {
  padding: 0 18px;
}

.footer .container ul li a {
  color: #FFF;
}

@media (max-width: 767px) {
  .footer .container h2 {
    padding: 21px 0;
  }
  .footer .container h2 span {
    margin-left: 23px;
  }
  .footer .container ul {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */